#root {
  padding: 2rem;
}

table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

td, th {
  border: 1px solid white;
  padding: 8px;
  vertical-align: top;
}

.system {
  width: 32%;
}

.price {
  font-size: 300%;
}

.warning {
  color: red;
}